.navbar-inverse .navbar-nav
{
	font-size: 1.5em;
}


body
{
	 font-family: 'Exo';
	 
	 /* this handles the right navbar visualization*/
	 padding-top: 70px;
}

.thumbnail h5 {
	display: block;
	min-height: 48px;
	position: relative;
}

.thumbnail h5 img {
	float: right;
	height: 48px;
	width: 48x;
}

.thumbnail h5 span {
	display: block;
	margin: auto 53px auto 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


