.navbar-inverse .navbar-nav
{
	font-size: 1.5em;
}


body
{
	 font-family: 'Exo';
	 
	 /* this handles the right navbar visualization*/
	 padding-top: 70px;
}

.thumbnail h5 {
	min-height: 48px;
}

.thumbnail img {
	float: right;
	margin: 10px 0 0 0;
	height: 48px;
	width: 48x;
}
